<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>CFBundleDisplayName</key>
    <string>Battery Watch</string>
    <key>CFBundleExecutable</key>
    <string>Battery Watch</string>
    <key>CFBundleIdentifier</key>
    <string>com.brendonovich.BatteryWatch</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>Battery Watch</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>LSApplicationCategoryType</key>
    <string>public.app-category.utilities</string>
    <key>LSMinimumSystemVersion</key>
    <string>14.0</string>
    <key>LSUIElement</key>
    <true/>
    <key>NSHighResolutionCapable</key>
    <true/>
    <key>NSLocalNetworkUsageDescription</key>
    <string>Battery Watch uses your local network to read battery information from trusted iPhones.</string>
    <key>NSBonjourServices</key>
    <array>
        <string>_apple-mobdev2._tcp</string>
    </array>
    <key>SUAutomaticallyUpdate</key>
    <true/>
    <key>SUEnableAutomaticChecks</key>
    <true/>
    <key>SUFeedURL</key>
    <string>https://github.com/Brendonovich/apps/releases/latest/download/Battery-Watch.xml</string>
    <key>SUPublicEDKey</key>
    <string>jIEO28JUQKUUuPf6ln/tzJRw7EwVIGhHXlz17iFWoRE=</string>
</dict>
</plist>
